// Mixins in here

.button-basic(@background, @color, @width){
    background: @background;
    color: @color;
    text-align: center;
    font-size: 1.8rem;
    border-radius: 12px;

    width: @width;
    padding: 12px 0;
}